

<nav class="bg-black flex shrink justify-center 
            tems-center"
>
        <div class="container flex justify-center items-center
                    text-white uppercase"
        >
            <a class="" href="/">
                Issue Traker
            </a>

            <!-- <div class="flex justify-between space-x-4 text-xs">
                <span class="">Total Projects: 10</span>
                <span class="">Total Issues: 10</span>
            </div> -->
        </div>
</nav>