<div 
    id="wrapper"
    class="flex justify-center
            sm:container xl:w-1/2 w-full
            mx-auto p-4
        "
>

    <form 
        method="POST"
        action="/App/v1/Issues/createIssue/<%= projectID %>"
        class="w-full space-y-4"
        id="createIssueForm"
    >
        <diV
            class="flex flex-col text-gray-500 space-y-1 space-x-2 text-xs"
        >
            <label for="titleInput">Title :</label>
            <input 
                id="titleInput"
                type="text" 
                name="issueTitle"
                placeholder="Project Name"
                class="border-2 border-indigo-500/50 rounded-sm p-1 outline-none"
            />
        </diV>

        <diV
            class="flex flex-col text-gray-500 space-y-1 space-x-2 text-xs w-full"
        >
            <label for="authorInput">Author :</label>
            <input 
                id="authorInput"
                type="text" 
                name="issueAuthor"
                placeholder="Author"
                class="border-2 border-indigo-500/50 rounded-sm p-1 outline-none"
            />
        </diV>

        <diV
            class="flex flex-col text-gray-500 space-y-1 space-x-2 text-xs w-full"
        >
            <label for="descInput">Description :</label>
            <textarea 
                id="descInput"
                placeholder="Description"
                name="issueDesc"
                rows="5"
                class="border-2 border-indigo-500/50 rounded-sm p-1 outline-none"
            ></textarea>
        </diV>

        <diV
            class="flex flex-col text-gray-500 space-y-1 space-x-2 text-xs w-full"
        >
            <label for="projectInput">labels :</label>
           
            <div 
                id="displayLabels"
                class="flex w-full flex-wrap space-x-[2px]"
            >
                
            </div>

            <div class="flex space-x-2 ">
                <input 
                    id="labelsInput"
                    type="text" 
                    placeholder="labels"
                    class="ring ring-2 rounded-sm pl-1 outline-none grow"
                />

                <button 
                    id="addLabelsButton"
                    type="button" 
                    class="bg-blue-900 px-1 text-white rounded-full"
                >
                    +
                </button>
            </div>
        </diV>

        <button
            type="submit"
            class="w-full bg-black py-1 rounded-sm
                            text-xs"
        >
            Create Issue
        </button>
    </form>
</div>


<!-- Adding Script Tag -->
<script src=`${process.env.LOCAL_HOST}/js/createIssues.js`></script>
